body {
  margin: 2em;
  font-family: 'Roboto', sans-serif;
  background: #fafafa;
}
h1 {
  border-left: 10px solid #CC3366;
  padding-left: 7px;
  font-size: 25px;
}
table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
}
table thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: #dcdcd1;
}
table tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}
table td {
	width: 150px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
table tr:hover {
	background-color: #e5ecff;
}
table tr td:hover {
	background-color: #ccffee;
}